//TODO only to test

/*stylus test */
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  font 12px Helvetica, Arial, sans-serif

a.button
  border-radius 5px

/* axis test */
form .field.success
    field-success()

/* rupture test */
.test
  color: red

  +below(700px)
    color: blue
/* autoprefixer test */
 a {
    transform: scale(0.5);
}


nib test
#back-to-top
  fixed: bottom right;
