<div class="ui inverted large top fixed hidden menu">
  <div class="ui container">
    <a class="active item" href="./index.html">Home</a>
    <a class="item" href="./projects.html">Projects</a>
    <a class="item" href="./teams.html">Teams</a>
    <!-- Session Menu -->
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>
